  table {
    margin-top: 100px;
    margin-left: 20px;

  }

  th {
    border: inset lightgray;
    padding: 10px;

  }

  body {
    background-color: black;
  }

  h1 {
    padding-top: 100px;
    text-align: center;


  }
